body {
background-color: black;
}
.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.ryu {
  width:659px;
  height:494px;
}



.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
  width: 659px;
  height: 494px;
  background-repeat: no-repeat;
  position: relative;
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
  width: 659px;
  height: 494px;
  background-repeat: no-repeat;
  display: none;
  position: relative;
}


.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
  width: 659px;
  height: 494px;
  background-repeat: no-repeat;
  display: none;
  position: relative;
}


.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  top: 167px;
  left: 520px;
  z-index: 10;
  background-repeat: no-repeat;
}

.clickinfo {
  font-family: Baloo Bhai;
  color: black;
  position: relative;
  bottom: 450px;
  left:470px;
}

.buttoninfo {
  font-family: Baloo Bhai;
  color: black;
  position: relative;
  bottom: 400px;
  left: 700px;

}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
  width: 659px;
  height: 494px;
  display: none;
  background-repeat: no-repeat;
  position: relative;
}
